@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Unna&display=swap');

$montserrat: 'Montserrat', sans-serif;
$unna: 'Unna', serif;

html, body, #app {
    width: 100%;
    height: 100%;
}

html, body, canvas, #app, .webgl {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.home {
    width: 70vw;
    padding: 10vh 15vw;
    height: 80vh;
    position: fixed;
    top: 0;
    left: 0;
    background: center / cover no-repeat url("/images/bg.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h1 {
        font-family: $unna;
        font-size: 40px;
        text-align: center;
        margin: 0;
    }

    img {
        width: 20vw;
    }

    button {
        height: 35px;
        padding: 0 15px;
        text-transform: uppercase;
        border: none;
        border-radius: 50px;
        color: #FFF0DB;
        font-family: $montserrat;
        letter-spacing: 1.25px;
        background-color: #3D2328;
        opacity: .7;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.step-1 {
    
    position: fixed;
    z-index: 2;
    top: 0;
}

.subtitle {
    z-index: 2;
    padding: 10px;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    background-color: #3D2328;
    color: #FFF0DB;
    text-align: center;
    font-family: $montserrat;
    min-width: 70vw;
}

.navigation {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // opacity: 0;
    // pointer-events: none;
    position: fixed;
    bottom: 50px;
    left: 30vw;
    z-index: 3;

    .prev, .next {
        width: 35px;
        height: 35px;
        border: none;
        border-radius: 50%;
        background-color: #3D2328;
        opacity: .7;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 30px;
            padding-right: 3px;
        }
    }

    .next img {
        transform: rotateZ(180deg);
        padding-bottom: 2px;
        padding-right: 5px;
    }

    .replay {
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50%;
        background-color: #3D2328;
        opacity: .7;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 30px;
            padding-left: 1px;
        }
    }
}

.stepper {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 50px;
    left: 20vw;

    .step-title {
        font-size: 16px;
        font-family: $montserrat;
        letter-spacing: 1.25px;
        color: #3D2328;
        text-transform: uppercase;
        margin: .7rem;
        background-color: #FFF0DB;
        padding: 5px 10px;
    }

    .progress {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;

        .bar {
            width: 96%;
            left: 2%;
            top: 3px;
            height: 2px;
            background: linear-gradient(to right, #3D2328 50%, #d4c5b2 50%);
            position: absolute;
        }
    
        .bullet {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #3D2328;
            z-index: 1;
        }
    }
}
